#
# This file is licensed under the MIT No Attribution license.
#

# SC2004 is a style warning that says to use $((x)) instead of $(($x)).
# However, this is only valid in POSIX 2004 or later. We support older
# versions of POSIX than that.
disable=SC2004
